{{template "base" .}}
<!-- content -->
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Design Patterns in Go</h1>
      <hr />
      <h3>Factory</h3>
      <div>
        <a
          href="javascript:void(0)"
          id="dog-factory-btn"
          class="btn btn-outline-secondary"
          >Get a dog from factory</a
        >
        <a
          href="javascript:void(0)"
          id="cat-factory-btn"
          class="btn btn-outline-secondary"
          >Get a cat from factory</a
        >
      </div>
      <div class="mt-2" style="outline: 1px solid silver; padding: 2rem">
        <pre id="factory-output">
          <span class="muted">Nothing received yet</span>
        </pre>
      </div>

      <hr class="mt-4" />

      <h3 class="mt-3">Abstract Factory</h3>
      <div>
        <a
          href="javascript:void(0)"
          id="dog-abstract-btn"
          class="btn btn-outline-secondary"
          >Get a dog from abstract factory</a
        >
        <a
          href="javascript:void(0)"
          id="cat-abstract-btn"
          class="btn btn-outline-secondary"
          >Get a cat from abstract factory</a
        >
      </div>
      <div class="mt-2" style="outline: 1px solid silver; padding: 2rem">
        <pre id="abstract-output">
          <span class="muted">Nothing received yet</span>
        </pre>
      </div>

      <hr class="mt-4" />

      <h3 class="mt-3">Builder</h3>
      <div>
        <a
          href="javascript:void(0)"
          id="dog-builder-btn"
          class="btn btn-outline-secondary"
          >Build a dog</a
        >
        <a
          href="javascript:void(0)"
          id="cat-builder-btn"
          class="btn btn-outline-secondary"
          >Build a cat</a
        >
      </div>
      <div class="mt-2" style="outline: 1px solid silver; padding: 2rem">
        <pre id="builder-output">
          <span class="muted">Nothing received yet</span>
        </pre>
      </div>

      <hr class="mt-4" />

      <h3 class="mt-3">Abstract Factory 2</h3>
      <form>
        <div class="row mb-3">
          <label for="species" class="col-sm-2 col-form-label">Species</label>
          <select id="species" class="form-select">
            <option selected>Choose...</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
          </select>
        </div>
        <div class="row mb-3">
          <label for="breed" class="col-sm-2 col-form-label">Breed</label>
          <input type="text" class="form-control" id="breed" />
        </div>
        <a
          href="javascript:void(0)"
          id="abstract-factory-2-btn"
          class="btn btn-outline-secondary"
          >Get animal from abstract factory</a
        >
      </form>
      <div class="mt-2" style="outline: 1px solid silver; padding: 2rem">
        <pre id="abstract-factory-2-output">
          <span class="muted">Nothing received yet</span>
        </pre>
      </div>
    </div>
  </div>
</div>
{{end}}

<!-- js -->
{{define "js"}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let dogFactoryBtn = document.getElementById("dog-factory-btn");
    let dogAbstractBtn = document.getElementById("dog-abstract-btn");
    let dogBuilderBtn = document.getElementById("dog-builder-btn");

    let catAbstractBtn = document.getElementById("cat-abstract-btn");
    let catFactoryBtn = document.getElementById("cat-factory-btn");
    let catBuilderBtn = document.getElementById("cat-builder-btn");

    let factoryOutput = document.getElementById("factory-output");
    let abstractOutput = document.getElementById("abstract-output");
    let builderOutput = document.getElementById("builder-output");

    let abstract2Btn = document.getElementById("abstract-factory-2-btn");
    let abstract2Output = document.getElementById("abstract-factory-2-output");

    function callApi(route, output) {
      fetch(route, { method: "GET" })
        .then((r) => r.json())
        .then((data) => {
          output.innerHTML = data.error
            ? data.error
            : JSON.stringify(data, undefined, 4);
        });
    }

    dogFactoryBtn.addEventListener("click", () =>
      callApi("/api/dog-from-factory", factoryOutput),
    );
    dogAbstractBtn.addEventListener("click", () =>
      callApi("/api/dog-from-abstract-factory", abstractOutput),
    );
    dogBuilderBtn.addEventListener("click", () =>
      callApi("/api/dog-from-builder", builderOutput),
    );

    catFactoryBtn.addEventListener("click", () =>
      callApi("/api/cat-from-factory", factoryOutput),
    );
    catAbstractBtn.addEventListener("click", () =>
      callApi("/api/cat-from-abstract-factory", abstractOutput),
    );
    catBuilderBtn.addEventListener("click", () =>
      callApi("/api/cat-from-builder", builderOutput),
    );

    abstract2Btn.addEventListener("click", () => {
      let species = document.getElementById("species").value;
      let breed = document.getElementById("breed").value;
      callApi(
        `/api/animal-from-abstract-factory/${species}/${breed}`,
        abstract2Output,
      );
    });
  });
</script>
{{end}}
